#*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#

# MAC DS Store file
.DS_Store

# Django's SQL Lite Database File
db.sqlite3

# executables
*.exe
*.tgz

# Secret config parameters
*.ini

# compilation files
/Compilation_tasks/*