<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="{% static 'secuTool/configuration.js'%}"></script>
  <style>
    header, footer {
      color: white;
      background-color: orange;
      clear: left;
      text-align: center;
    }

    .container {
      margin-left: 150px;
      margin-top: 50px;
    }

    table, th, td {
      column-width: 180px;
      border: 1px solid black;
      text-align: center;
    }
  </style>
</head>

<body>
  <header onclick="main_page()">
    <h1 style="background-color:purple;">Profile Based Auto Compilation System</h1>
  </header>

  <div class="container">
    <div class="col">
      <div class="row-sm-5">
        <h3>Profile list</h3>
        <br>
        <table id="profile">
          <thead>
            <tr>
              <th>Target OS</th>
              <th>Compilers</th>
              <th>Version</th>
              <th>Name</th>
              <th>Flags</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          {% if rows %}
          <tbody id="preview-list">
            {% for ele in rows %}
            <tr>
              <td class="os" width="10%">{{ele.target_os}}</td>
              <td class="compiler" width="15%">{{ele.compiler}}</td>
              <td class="version" width="10%">{{ele.version}}</td>
              <td class="name" width="15%">{{ele.name}}</td>
              <td class="flag" width="25%">{{ele.flag}}</td>
              <td class="date" width="15%">{{ele.date}}</td>
              <td width="15%">
                <button class="btn btn-light btn-sm" onclick="editProfile('{{ele.target_os}}', '{{ele.compiler}}', '{{ele.version}}', '{{ele.name}}')">edit</button>
                <form action="/deleteProfile" method="post" enctype="multipart/form-data">
                  <input type="hidden" value={{ele.target_os}} name="target_os" />
                  <input type="hidden" value={{ele.compiler}} name="compiler" />
                  <input type="hidden" value={{ele.version}} name="version" />
                  <input type="hidden" value={{ele.name}} name="name" />
                  <button class="btn btn-light btn-sm" type="submit" id="deleteProfile" name="submit" value="deleteProfile">delete</button> {% csrf_token %}
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
        <br>
        <br>
      </div>
      <div class="row-sm-7" id="update_profile" style='visibility: hidden'>
        <form action="/updateProfile" method="post" enctype="multipart/form-data">
          <h4>Please modify the profile</h4>
          <br>
          <h6>Target_os:</h6>
          <textarea rows="1" cols="20" id="target_os" name="target_os" required></textarea>
          <br>
          <br>
          <h6>Compiler:</h6>
          <textarea rows="1" cols="20" id="compiler" name="compiler" required></textarea>
          <br>
          <br>
          <h6>Version:</h6>
          <textarea rows="1" cols="20" id="version" name="version" required></textarea>
          <br>
          <br>
          <h6>Name:</h6>
          <textarea rows="1" cols="20" id="name" name="name" required></textarea>
          <br>
          <br>
          <h6>Flags:</h6>
          <textarea id="flag" name="flag" required></textarea>
          <br>
          <br>
          <h6>Uploader:<h7><span style="color:red">(Cannot be modified unless save as new)</span></h7></h6>
          <textarea rows="1" cols="20" id="uploader" name="uploader" required></textarea>
          <br>
          <br>
          <h6>Upload time:</h6>
          <input type="text" id="upload_time" value="" readonly="true">
          <br>
          <br>
          <input id="old_target_os" type="hidden" value="" name="old_target_os" />
          <input id="old_compiler" type="hidden" value="" name="old_compiler" />
          <input id="old_version" type="hidden" value="" name="old_version" />
          <input id="old_name" type="hidden" value="" name="old_name" />
          <input type="submit" id="save" name="submit" value="save" /> {% csrf_token %}
          <input type="submit" id="save_as_new" name="submit" value="save as new" /> {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</body>

</html>