<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="{% static 'secuTool/trace_job.js'%}"></script>
  <script src="{% static 'secuTool/test_functions.js'%}"></script>

  <link rel="stylesheet" href="{% static 'secuTool/jquery-ui.min.css'%}">
  <script src="{% static 'secuTool/jquery.js'%}"></script>
  <script src="{% static 'secuTool/jquery-ui.min.js'%}"></script>
  
  <style>
    header, footer {
      color: white;
      background-color: orange;
      clear: left;
      text-align: center;
    }

    .container {
      margin-left: 200px;
      margin-top: 20px;
    }

    .scroll {
      border: 2px solid #ccc;
      width: 300px;
      height: 100px;
      overflow-y: scroll;
    }

    table, th, td {
      column-width: 100px;
      border: 1px solid black;
      text-align: center;
    }

    .tab1 {
      margin-left: 170px;
      margin-right: 170px;
      margin-top: 50px;
      border-left: 1px blue;
    }

    .tab2 {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 5px;
      border-left: 1px blue;
      font-size: 15px;
    }

    .peek {
      margin-top: -400px;
      margin-bottom: 100px;
      margin-left: 350px;
    }
    /*button class*/
    .row-button {
      width: 10px !important;
      height: 15px!important;
      border-radius: 3px;
      outline: none;
    }
    .chosen {
      background-color: darkblue;
    }
    .peek_text {
      border: 2px solid #ccc;
      width: 300px;
      font-family: 'Times New Roman', Times, serif;
    }

    .progressbar {
      border: 1px solid grey;
      width: 100%;
    }

    #result-trace {
      display: none;
    }

    #bar-growth {
      width: 0%;
      background: black;
      height: 20px;
    }
    #download_wrapper{
      /*display: none;*/
    }
  </style>
</head>

<body>
  <header>
    <h1 style="background-color:purple;">Profile Based Auto Compilation System</h1>
  </header>
  <h4 style="color:red;" class="ml-5">{{message}}</h4>
  <div style="display:none" id='json_profiles'>{{json_profiles}}</div>
  <div class="nav nav-tabs tab1" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-1-tab" href="{% url 'home' %}">Submit jobs</a>
    <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Configuration</a>
    <a class="nav-item nav-link" id="nav-3-tab" href="{% url 'search_panel' %}">Search</a>
    <a class="nav-item nav-link" id="nav-4-tab" href="{% url 'redirect_trace' %}">Job Tracker</a>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade {{nav1}}" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
      <div class="nav nav-tabs tab2" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-11-tab" data-toggle="tab" href="#nav-11" role="tab" aria-controls="nav-11" aria-selected="true">Upload files</a>
        <a class="nav-item nav-link" id="nav-12-tab" data-toggle="tab" href="#nav-12" role="tab" aria-controls="nav-12" aria-selected="false">Select flags</a>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-11" role="tabpanel" aria-labelledby="nav-11-tab">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <form action="/preview" method="post" enctype="multipart/form-data">
                  <h3>Submit a job.</h3>
                  <br>
                  <h5> Please upload your source code. </h5>
                  <div class="" style="height: 10px;"></div>
                  <input type="file" value="Select" class="submit-edition" name="srcFile" required> {% csrf_token %}
                  <br>
                  <br>
                  <h5> Please upload your task file. </h5>
                  <div class="" style="height: 10px;"></div>
                  <input type="file" value="Select" class="submit-edition" name="taskFile" required> {% csrf_token %}
                  <br>
                  <br>
                  <input type="submit" value="Preview">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-12" role="tabpanel" aria-labelledby="nav-12-tab">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <h3>Submit a job.</h3>
                <br>
                <form action="/preview" method="post" enctype="multipart/form-data">
                  <h5> Please upload your source code*. </h5>
                  <div class="" style="height: 10px;"></div>
                  <input type="file" value="Select" class="submit-edition" name="srcFile" required>
                  <br>
                  <br>
                  <h5> Please select your OS*. </h5>
                  <select name="target_os" id="target_os" onChange="getCompiler(this.value);" required>
                    <option value="" disabled selected>Select</option>
                  </select>
                  <div style="display:none" id='os_selected'></div>
                  <br>
                  <br>
                  <h5> Please select your compiler*. </h5>
                  <select name="compiler" id="compiler" onchange="getProfiles(this.value);" required>
                    <option value="" disabled selected>Select</option>
                  </select>
                  <div style="display:none" id='compiler_selected'></div>
                  <br>
                  <br>
                  <h5> Please select your profiles*. </h5>
                  <div class="scroll" id="profiles"></div>
                  <br>
                  <h5> Please type username*. </h5>
                  <div class="text">
                    <input type="text" name="username" required/>
                    <br/>
                  </div>
                  <br>
                  <h5> Please enter a tag for your job. </h5>
                  <div class="text">
                    <input type="text" name="tag" />
                    <br/>
                  </div>
                  <br>
                  <br>
                  <input type="submit" value="Preview" /> {% csrf_token %}
                </form>
                <div class="peek" id="profile_content">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade {{nav2}}" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Configuration Options.</h3>
            <br>
            <form action="/addProfile" method="post" enctype="multipart/form-data">
              <div class="photo-upload">Add a profile.</div>
              <div class="" style="height: 10px;"></div>
              <input type="file" value="Add a profile" class="submit-edition" name="profile_file" /> {% csrf_token %}
              <input type="submit" value="Submit" />
            </form>
            <br>
            <br>
            <form action="/addCompiler" method="post" enctype="multipart/form-data">
              <div class="photo-upload">Add a compiler.</div>
              <div class="" style="height: 10px;"></div>
              <input type="file" value="Add a compiler" class="submit-edition" name="compiler_file" /> {% csrf_token %}
              <input type="submit" value="Submit" />
            </form>
            <br>
            <br>
            <form action="/manageProfile" method="post" enctype="multipart/form-data">
              <div class="photo-upload">Manage profiles.</div>
              <div class="" style="height: 10px;"></div>
              <input type="submit" value="Manage profiles" class="submit-edition" /> {% csrf_token %}
            </form>
            <br>
            <br>
            <form action="/manageCompiler" method="post" enctype="multipart/form-data">
              <div class="photo-upload">Manage compilers.</div>
              <div class="" style="height: 10px;"></div>
              <input type="submit" value="Manage compilers" class="submit-edition" /> {% csrf_token %}
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade {{nav3}}" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
      <div class="container">
        <div class="row">
          <div class="col-sm-10">
            <h3>Search your tasks.</h3>
            <br>
            <p>* Leaving field blank means no search requirement for this field.</p>
            <p>* Separate data inside each field by comma.</p>
            <form action="{% url 'check_status' %}" method='post'>
              <table>
                <tr>
                  <th>Task id</th>
                  <th>Compilers</th>
                  <th>Flags</th>
                  <th>Username</th>
                  <th>Tags</th>
                  <th>Date after</th>
                  <th>Date before</th>
                </tr>
                <tr>
                  <td>
                    <input style="width:100px;" type="text" name='task_id' value="{{task_id}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='compilers' value="{{compilers}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='flags' value="{{flags}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='username' value="{{username}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='tag' value="{{tag}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='date_after' id='dateafter' value="{{date_after}}">
                  </td>
                  <td>
                    <input style="width:100px;" type="text" name='date_before' id='datebefore' value="{{date_before}}">
                  </td>
                </tr>
              </table>
              <br>
              <input type="submit" value="submit" class="submit-edition"> {% csrf_token %}
              <br>
              <div style="margin-top: 10px;padding-bottom: 10px;">{{search_result}}</div>
              <br>

            </form>
            {% if tasks %} 
              <button class="btn btn-light" onclick="selectall()">select all</button>
              <button class="btn btn-light" onclick="deselectall()">deselect all</button>
              <table >
                <tr >
                    <th> </th>
                    <th>task id</th>
                    <th>username</th>       
                    <th>tag</th>
                    <th>source file</th> 
                    <th>target os</th>
                    <th>compiler</th>
                    <th>version</th>
                    <th>flag</th>
                    <th>compilation status</th>
                    <th>executable names</th>
                    <th>error</th>
                </tr>
                {% for ele in tasks %}
                <tr style="border-right: 1px solid black;">
                  <td>
                    <button class="row-button" id="r{{ele.seq}}" onclick="addflag('r{{ele.seq}}')"></button>
                  </td>
                  <td class="download_id">{{ele.task_id}}</td>
                  <td>{{ele.username}}</td>
                  <td>{{ele.tag}}</td>
                  <td>{{ele.src_file}}</td>
                  <td>{{ele.target_os}}</td>
                  <td>{{ele.compiler}}</td>
                  <td>{{ele.version}}</td>
                  <td>{{ele.flag}}</td>
                  <td class="download_status">{{ele.status}}</td>
                  <td class="download_exe">{{ele.exename}}</td>
                  <td>{{ele.err}}</td>
                </tr>
                {% endfor %}
                </table>
            {% endif %}
              <br><br>

              <button class="btn btn-light" onclick="download_search()"> Download Directory </button>
              <form enctype="multipart/form-data" action="{% url 'download_search' %}" id="search_dld" method='post' style="display: none;">
                <!-- <input type="hidden" name="taskid" value={linux_taskFolder}}> -->
                <input type="submit" value="Download Directory" class="btn btn-light"> {% csrf_token %}
              </form>

          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade {{nav4}}" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
      <div class="container">
        <div class="row">
          <div id='thisone' class="col-sm-10 debug">
            <h3>Track job status.</h3>
            <br>
            <h4>Recent jobs.</h4>
            <br>
            <div style="display: none;" id="ongoing-task">{{ongoing_tasks}}</div>
            {% if tracing_tasks %}
            <table>
              <thead>
                <tr>
                  <th>Task ID</th>
                  <th>Target OS</th>
                  <th>Compilers</th>
                  <th>Profiles</th>
                  <th>Username</th>
                  <th>Tags</th>
                  <th># of exe</th>
                  <th>Time Submitted</th>
                </tr>
              </thead>
              <tbody id="report">
                {% for ele in tracing_tasks %}
                <tr style="{{ele.current_task}}">
                  <td>
                    <button class="task_tracing" id="task_{{ele.taskname}}" onclick="setCurrentJob('{{ele.taskname}}')" style="{{ele.current_task}}">{{ele.taskname}}</button>

                  </td>
                  <td class="task_os">{{ele.target_os}}</td>
                  <td class="task_compiler">{{ele.compiler}}</td>
                  <td class="task_profile">{{ele.profiles}}</td>
                  <td class="task_username">{{ele.username}}</td>
                  <td class="task_tags">{{ele.tag}}</td>
                  <td class="task_total">{{ele.total}}</td>
                  <td class="task_submittime">{{ele.submittime}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <br>
            <br>
            <div id="trace-wrapper" style="display: {{ongoing_display}}">
              <div id="result-trace">
                <p id="result-report"></p>
                <div class="progressbar">
                  <div id="bar-growth"> </div>
                </div>
              </div>
              <!-- download button -->
              <br>
              <button class="btn btn-light" id="download_wrapper" onclick="download_tar()"> download </button>
              <button class="btn btn-light" id="download_wrapper" onclick="terminate()"> terminate </button>
              <form enctype="multipart/form-data" id="download_full" action="{% url 'download_tar' %}" method='post' style="display: none;">
                <input type="hidden" name="downloadtaskid" value="">
                <input type="submit" value="Download Directory" class="submit-edition"> {% csrf_token %}
              </form>
              <br>
              <table class="report-theme mt-5" style="margin: auto;width: 100%; column-width: auto;">
                <thead>
                  <tr>
                    <th style='column-width: auto;'>Executable Name</th>
                    <th style='column-width: auto;'>compilation status</th>
                    <th style='column-width: auto;'>Compiler Error</th>
                  </tr>
                </thead>
                <tbody id="log-report">
                </tbody>
              </table>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>