
<h2>Auto Compilation System</h2>
<h3>hello </h3>


{{ message }}
<p>------------------------------------------------------------</p>
<h4> Please specify task information inside a txt file</h4>
<form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post' >
			<div class="upload-error">
                {% if form.errors %} {{form.errors}} {% endif %}
            </div>
			<div class="photo-upload" >upload source code  {{form.srcCodes}} </div>
			<div class="photo-upload">upload task specify file {{form.task_file}} </div>
			<div class="" style="height: 10px;"></div>
			<input type="submit" value="submit" class="submit-edition">
			{% csrf_token %}
</form>




<form enctype="multipart/form-data" action="{% url 'download_tar' %}" method='post'>
			<input type ="hidden" name="taskid" value = {{linux_taskFolder}}>
			<input type="submit" value="download directory" class="submit-edition">
			{% csrf_token %}
		</form>

