
<style>
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}
</style>



<h2>Auto Compilation System</h2>
<h3>hello </h3>





{{ message }}
{% if task_id %}
	task id: {{task_id}}
{% endif %}
<p>------------------------------------------------------------</p>
<h4> Please specify task information inside a txt file</h4>
<form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post' >
			<div class="upload-error">
                {% if form.errors %} {{form.errors}} {% endif %}
            </div>
			<div class="photo-upload" >upload source code  {{form.srcCodes}} </div>
			<div class="photo-upload">upload task specify file {{form.task_file}} </div>
			<div class="" style="height: 10px;"></div>
			<input type="submit" value="submit" class="submit-edition">
			{% csrf_token %}
</form>




<form enctype="multipart/form-data" action="{% url 'download_tar' %}" method='post'>
			<input type ="hidden" name="taskid" value = {{linux_taskFolder}}>
			<input type="submit" value="download directory" class="submit-edition">
			{% csrf_token %}
		</form>

<p>------------------------------------------------------------</p>
<h2>Trace your tasks </h2>
<p>* Leaving field blank means no search requirement for this field</p>
<p>* Separate data inside each field by comma</p>
<form action="{% url 'check_status' %}" method='post' >
	<table >
		<tr >
    		<th>task id</th>
    		<th>flags</th> 
    		<th>username</th>
    		<th>compilers</th>
    		<th>tag</th>
    		<!-- <th>profiles</th> -->
		</tr>
		<tr>
			<td><input type="text" name='task_id'></td>
			<td><input type="text" name='flags'></td>
			<td><input type="text" name='username'></td>
			<td><input type="text" name='compilers'></td>
			<td><input type="text" name='tag'></td>
			<!-- <td><input type="text" name='profiles'></td> -->
		</tr>
	</table>
	<input type="submit" value="submit" class="submit-edition">
	{% csrf_token %}
</form>


{% if tasks %}
<table >
<tr >
    <th>task id</th>
    <th>username</th>       
    <th>tag</th>
    <th>source file</th> 
    <th>target os</th>
    <th>compiler</th>
    <th>version</th>
    <th>flag</th>
    <th>compilation status</th>
    <th>executable names</th>
    <th>output</th>
    <th>error</th>
</tr>
{% for ele in tasks %}
<tr style="border-right: 1px solid black;">
	<td>{{ele.task_id}}</td>
	<td>{{ele.username}}</td>
	<td>{{ele.tag}}</td>
	<td>{{ele.src_file}}</td>
	<td>{{ele.target_os}}</td>
	<td>{{ele.compiler}}</td>
	<td>{{ele.version}}</td>
	<td>{{ele.flag}}</td>
	<td>{{ele.status}}</td>
	<td>{{ele.exename}}</td>
	<td>{{ele.out}}</td>
	<td>{{ele.err}}</td>
</tr>
{% endfor %}
</table>
{% endif %}





	
	
	
	
	
	
	
	
