<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    #myProgress {
      width: 100%;
      background-color: #ddd;
    }

    #myBar {
      width: 1%;
      height: 20px;
      background-color: #4CAF50;
    }

    header, footer {  
      color: white;
      background-color: orange;
      clear: left;
      text-align: center;
    }

    article {
      margin-left: 170px;
      border-left: 1px blue;
      padding: 1em;
      overflow: hidden;
    }

    aside {
      margin-left: 700px;
      margin-top: 0px;
      border-left: 1px blue;
      color:purple;
      background: red;
      padding: 1em;
      overflow: hidden;
    }

    .debug{
      border: 1px solid yellow;
    }
  </style>
</head>

<body>
  <header>
    <h1 style="background-color:purple;">Profile Based Auto Compilation System</h1>
  </header>

  <div class="container">
    <div class="row"> 
  
  <div class="col-sm-6 debug">      
    <h3>Submit a job.</h3>
    <br>
    <h5> Please select your profiles. </h5>
    <form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post' >
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Select" class="submit-edition">
      {% csrf_token %}
    </form>
    <br>

    <h5> Please select your source code. </h5>
    <form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post' >
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Upload" class="submit-edition">
      {% csrf_token %}
    </form>
    <br>

    <h5> Please select your OS. </h5>
    <form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post'>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Upload" class="submit-edition"> {% csrf_token %}
    </form>
    <br>

    <h5> Please select your compilers. </h5>
    <form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post'>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Upload" class="submit-edition"> {% csrf_token %}
    </form>
    <br>

    <h5> Please select your flags. </h5>
    <form enctype="multipart/form-data" action="{% url 'uploadSrc' %}" method='post'>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Upload" class="submit-edition"> {% csrf_token %}
    </form>
    <br>
    
    <div class="" style="height: 10px;"></div>
    <input type="submit" value="Submit Job" onclick="showProgressCursor()">
    {% csrf_token %}
    <br> <br>
    <script>
      function showProgressCursor() {
        var x = document.getElementById("progressbar");
        x.style.display = "block";
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
          } else {
            width ++;
            elem.style.width = width + '%';
          }
        }
     }
    </script>
    
    <div id="progressbar" style = "display: none">
    <h6>Job Progress</h6>
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <br>
    </div>
    <br>

    <form enctype="multipart/form-data" action="{% url 'download_tar' %}" method='post'>
      <input type ="hidden" name="taskid" value = {{linux_taskFolder}}>
      <input type="submit" value="Download Directory" class="submit-edition">
      {% csrf_token %}
    </form>
    </div>

  <div class="col-sm-6 debug">
    <h3>Configuration Options</h3>
      <br>
      <div class="photo-upload" >Add a profile</div>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Add a profile" class="submit-edition"/>
      {% csrf_token %}
      <br> <br>

      <div class="photo-upload" >Manage profiles</div>
      <div class="" style="height: 10px;"></div>
      <input type="submit" value="Manage profiles" class="submit-edition"/>
      {% csrf_token %}
      <br> <br>

      <div class="photo-upload" >Add a compiler</div>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Add a compiler" class="submit-edition">
      {% csrf_token %}
      <br> <br>

      <div class="photo-upload" >Add a flag</div>
      <div class="" style="height: 10px;"></div>
      <input type="file" value="Add a flag" class="submit-edition">
      {% csrf_token %}
      <br> <br>
    <br>
    
    <h3>Track a job</h3>
    <br>
    <form action="/action_page.php">
      Searching: &nbsp;
      <input type="text" name="Keywords" value="Keywords">
      <input type="submit" value="Submit" class="submit-edition"> <br> <br>
    </form>

    <table style="width: 400px;">
      <tbody>
        <tr>
          <th style="width: 100px;">JID</th>
          <th style="width: 200px;">Combinations</th>
          <th style="width: 60px;">Status</th>
        </tr>
        <tr>
          <td style="width: 100px;"> 1</td>
          <td style="width: 200px;"> -O1, -Wall</td>
          <td style="width: 60px;"> To do</td>
        </tr>
        <tr>
          <td style="width: 100px"> 2</td>
          <td style="width: 200px;"> -O2, -W1</td>
          <td style="width: 60px;"> Completed</td>
        </tr>
      </tbody>
    </table>
  <p> </p>
  
  </div>
  </div>
  </div>

</body>
</html>
