<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      header, footer {  
        color: white;
        background-color: orange;
        clear: left;
        text-align: center;
      }

      article {
        margin-left: 170px;
        border-left: 1px blue;
        padding: 1em;
        overflow: hidden;
      }

      aside {
        margin-left: 700px;
        margin-top: 0px;
        border-left: 1px blue;
        color:purple;
        background: red;
        padding: 1em;
        overflow: hidden;
      }

      .container {
        margin-left: 200px;
        margin-top: 20px;
      }

      .scroll {
        border: 2px solid #ccc;
        width: 300px;
        height: 100px;
        overflow-y: scroll;
      }

      table, th, td {
        column-width: 100px;
        border: 1px solid black;
        text-align: center;
      }

      .tab1 {
        margin-left: 170px;
        margin-right: 170px;
        margin-top: 50px;
        border-left: 1px blue;
      }

      .tab2 {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 5px;
        border-left: 1px blue;
        font-size: 15px;
      }

      .progressbar {
        border: 1px solid grey;
        width: 300px;
      }

      #result-trace {
        display: none;
      }

      #bar-growth {
        width: 0%;
        background: black;
        height: 20px;
      }
    </style>
    <script src="{% static 'secuTool/trace_job.js'%}"></script>
  </head>

  <body>
    <header>
      <h1 style="background-color:purple;">Profile Based Auto Compilation System</h1>
    </header>
    <div class="nav nav-tabs tab1" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="false">Submit jobs</a>
      <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Configuration</a>
      <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Search</a>
      <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Job Tracker</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade {{nav1}}" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="nav nav-tabs tab2" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-11-tab" data-toggle="tab" href="#nav-11" role="tab" aria-controls="nav-11" aria-selected="true">Upload files</a>
          <a class="nav-item nav-link" id="nav-12-tab" data-toggle="tab" href="#nav-12" role="tab" aria-controls="nav-12" aria-selected="false">Select flags</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade active show" id="nav-11" role="tabpanel" aria-labelledby="nav-11-tab">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 debug">
                  <form action="/preview" method="post" enctype="multipart/form-data">
                    <h3>Submit a job.</h3>
                    <br>
                    <h5> Please upload your source code. </h5>
                      <div class="" style="height: 10px;"></div>
                      <input type="file" value="Select" class="submit-edition" name="srcFile" required> {% csrf_token %}
                    <br>
                    <br>
                    <h5> Please upload your task file. </h5>
                      <div class="" style="height: 10px;"></div>
                      <input type="file" value="Select" class="submit-edition" name="taskFile" required> {% csrf_token %}
                    <br>
                    <br>
                    <input type="submit" value="Preview">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-12" role="tabpanel" aria-labelledby="nav-12-tab">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 debug">
                  <h3>Submit a job.</h3>
                  <br>
                  <form name="myform" id="myform" action="/preview" method="post" enctype="multipart/form-data">
                    <h5> Please upload your source code*. </h5>
                      <div class="" style="height: 10px;"></div>
                      <input type="file" value="Select" class="submit-edition" name="srcFile" required>
                    <br>
                    <br>
                    <h5> Please select your OS*. </h5>
                    <select name="target_os" id="target_os" onChange="changecat(this.value);" required>
                      <option value="" disabled selected>Select</option>
                    </select>
                    <script>
                      var options = ["Linux", "Windows"];
                      var catOptions = "<option value='' disabled selected>Select</option>";
                      for (osId in options) {
                          catOptions += "<option>" + options[osId] + "</option>";
                      }
                      document.getElementById("target_os").innerHTML = catOptions;
                    </script>
                    <br>
                    <br>
                    <h5> Please select your compiler*. </h5>
                    <select name="compiler" id="compiler" required>
                      <option value="" disabled selected>Select</option>
                    </select>
                    <script>
                      var flagsByOS = {
                        Linux: ["None", "GCC 4.8", "GCC 5.5", "GCC 6.4", "GCC 7.3", "GCC 8.1"],
                        Windows: ["None", "MSVC++ 14.11", "MSVC++ 14.12", "MSVC++ 14.13", "MSVC++ 14.14"],
                      }
                      function changecat(value) {
                        if (value.length == 0) document.getElementById("compiler").innerHTML = "<option></option>";
                        else {
                          var catOptions = "";
                          for (compilerId in flagsByOS[value]) {
                            catOptions += "<option>" + flagsByOS[value][compilerId] + "</option>";
                          }
                          document.getElementById("compiler").innerHTML = catOptions;
                        }
                      }
                    </script>
                    <br>
                    <br>
                    <h5> Please select your profiles*. </h5>
                    <div class="scroll" id="profiles">
                    </div>
                    <script>
                      var options = ["debugging", "link", "optimization", "preprocessing", "warning","max_speed","max_optimization"];
                      var catOptions = "";
                      for (profileId in options) {
                        catOptions += "<input type='checkbox' name='profile'/>" + options[profileId] + "<br/>";
                      }
                      document.getElementById("profiles").innerHTML = catOptions;
                    </script>
                    <br>
                    <h5> Please type username*. </h5>
                    <div class="text">
                      <input type="text" name="username" required/> <br/>
                    </div>
                    <br>
                    <h5> Please enter a tag for your job. </h5>
                    <div class="text">
                      <input type="text" name="tag" />
                      <br/>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Preview" />
                     {% csrf_token %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 debug">
              <h3>Configuration Options.</h3>
              <br>
              <form action="/preview" method="post" enctype="multipart/form-data">
                <div class="photo-upload">Add a profile.</div>
                <div class="" style="height: 10px;"></div>
                <input type="file" value="Add a profile" class="submit-edition" /> {% csrf_token %}
                <br>
                <br>
                <div class="photo-upload">Manage profiles.</div>
                <div class="" style="height: 10px;"></div>
                <input type="submit" value="Manage profiles" class="submit-edition" /> {% csrf_token %}
                <br>
                <br>
                <div class="photo-upload">Add a compiler.</div>
                <div class="" style="height: 10px;"></div>
                <input type="file" value="Add a profile" class="submit-edition" /> {% csrf_token %}
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 debug">
              <h3>Search your tasks.</h3>
              <br>
              <p>* Leaving field blank means no search requirement for this field.</p>
              <p>* Separate data inside each field by comma.</p>
              <form action="{% url 'check_status' %}" method='post'>
                <table>
                  <tr>
                    <th>Task id</th>
                    <th>Compilers</th>
                    <th>Flags</th>
                    <th>Username</th>
                    <th>Tags</th>
                    <th>Date after</th>
                    <th>Date before</th>
                  </tr>
                  <tr>
                    <td><input style="width:100px;" type="text" name='task_id'></td>
                    <td><input style="width:100px;" type="text" name='compilers'></td>
                    <td><input style="width:100px;" type="text" name='flags'></td>
                    <td><input style="width:100px;" type="text" name='username'></td>
                    <td><input style="width:100px;" type="text" name='tags'></td>
                    <td><input style="width:100px;" type="text" name='date after'></td>
                    <td><input style="width:100px;" type="text" name='date before'></td>
                  </tr>
                </table>
                <br>
                <input type="submit" value="submit" class="submit-edition"> {% csrf_token %}
                <br>
                <br>
                <form enctype="multipart/form-data" action="{% url 'download_tar' %}" method='post'>
                  <input type="hidden" name="taskid" value={ {linux_taskFolder}}>
                  <input type="submit" value="Download Directory" class="submit-edition"> {% csrf_token %}
                </form>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade {{nav4}}" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 debug">
              <h3>Track job status.</h3>
              <br>
              <h4>Currently running jobs.</h4>
              <form action="{% url 'check_status' %}" method='post'>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Task ID</th>
                      <th scope="col">Compilers</th>
                      <th scope="col">Flags</th>
                      <th scope="col">Username</th>
                      <th scope="col">Tags</th>
                      <th scope="col">Date Submitted</th>
                      <th scope="col">Time Submitted</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <tr>
                      <th scope="row" id="tsk1" onclick="assign_id($(this).text())">00010</th>
                      <td>GCC 4.8</td>
                      <td>-O1,-Wall</td>
                      <td>Jeffrey</td>
                      <td>#test</td>
                      <td>6/13/2018</td>
                      <td>07:05</td>
                    </tr>
                    <tr>
                      <th scope="row" id="tsk2" onclick="assign_id($(this).text())">00011</th>
                      <td>GCC 5.5</td>
                      <td>-O2,-Werror</td>
                      <td>David</td>
                      <td>#task1</td>
                      <td>6/13/2018</td>
                      <td>09:05</td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
                <script>
                  function assign_id(b) {
                    task_id=b
                    window.alert(task_id)
                   }
                </script>
                <script>

                </script>
                <!--<div id="progressbar" style="display: none">
                  <h6>Job Progress</h6>
                  <div id="myProgress">
                    <div id="myBar"></div>
                  </div>
                  <br>
                  <h6>Task Log</h6>
                  <p>Compilation_tasks/2018-06-03-15-05-44/secu_compile/hello_1_-O1_-O0_-Wall -O1 -O0 -Wall, b'', b''</p>
                  <p>Compilation_tasks/2018-06-03-15-05-44/secu_compile/hello_2_-O0_-O2_-Wall -O0 -O2 -Wall, b'', b''</p>
                  <p>Compilation_tasks/2018-06-03-15-05-44/secu_compile/hello_3_-O1_-O0_-O3 -O1 -O0 -O3, b'', b''</p>
                  <p>Compilation_tasks/2018-06-03-15-05-44/secu_compile/hello_4_-O0_-O2_-O3 -O0 -O2 -O3, b'', b''</p>
                  <br>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>