#*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#
*.swp
# MAC DS Store file
.DS_Store

# Django's SQL Lite Database File
db.sqlite3

# Secret config parameters
*.ini
*.tgz


# compilation files
/host-server/Compilation_tasks/*
/platform-server/Compilation_tasks/*
/host-server/secuTool/migrations/*

/experiment-data/*.tgz